[user]
	name = Bartlomiej Styczen

[includeIf "gitdir:~/work/"]
	path = .gitconfig_work

[includeIf "gitdir:~/personal/"]
	path = .gitconfig_personal

[core]
    editor = nvim

[lfs "https://github.com/styczen/dotfiles.git/info/lfs"]
	locksverify = false

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
