xterm*background: black
xterm*foreground: white
xterm*faceName: Monospace
xterm*faceSize: 15
xterm*selectToClipboard: true
xterm*Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(SELECT) \n\
                 Ctrl Shift <Key>C:    copy-selection(SELECT)
